.Container-instagram{
    
    width: 100%;
    text-align: center;
    background: linear-gradient(90.09deg, #9A99C6 20.79%, #C699B2 99.93%);


    .App-header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;

        .text{
            font-family: 'Times New Roman', Times, serif;
            color: rgb(0, 255, 255);
        }

        .texto{
            color: #C60844;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .btt{
            border: none;
            border-radius: 20px;
            background: linear-gradient(90.09deg, #706edb 20.79%, #e468ac 99.93%);
            padding: 10px 20px 10px 20px;
        }
      }
       

    .dados-insta{
        margin-top: 50px;
        margin-bottom: 80px;
        justify-content: center;
        background-image: linear-gradient(180deg, #373737, #252525,);
        padding: 50px;
        align-items: center;
        border-radius: 3px;
        width: 50vw;
        margin-left: 100px;
        
    }
    .dados-insta .user-insta{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
        align-items: center;
    }
    .dados-insta .user-insta input{
        width: 255px;
        height: 24px;
        margin-top: 10px;
    }
    #tempo{
        width: 100px;
        margin-right: 11px;
    }
    .dados-insta div{
        display: flex;
        margin: 3px;
        flex-direction: row;
       
    }
    .dados-insta input{
        color: #373737;
        font-size: 17x;
        border-radius: 4px;
        border: none;
        background-color: #E0E0E0;
        margin-left: 4px;
    }
    .avatar input {
        width: 420px;
        height: 24px;
        margin-bottom: 2px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .avatar p{
        margin-left: 30px;
    }
    .desc input{
        width: 31.1vw;
        height: 20vh;
        margin-right: 18px ;
        padding-bottom: 70px;
        margin-left: 10px;
    }
    .post-insta input{
        width: 260px;
        height: 24px;
        margin-top: 10px;
        margin-left: 10px;
    }
    #post p{
        margin-left:30px ;
        margin-top: 2px;
    }
    #tempo1{
            width: 89px;
    }
    .dados-insta button{
        margin-left: 57px;
        width: 423px;
        border: none;
        border-radius: 4px;
        background-color: #C60844;
        padding: 7px;
        color: #fff;
        font-size: 19px;
        font-weight: 580;
        margin-top: 10px;
        cursor: pointer;
    }

     .fim{
        margin-top: -20px;

        h1{
            color: #706edb;
        }
     }

    /////// informaçoes:
    .dados-post{
        width: 260px;
        margin-bottom: 20px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .dados-post p{
        font-weight: bold;
    }
    .dados-post #tempo{
        color: rgb(63, 63, 63);
        font-weight: 600;
    }
    .dados-post img{
        border-radius: 200px;
        height: 40px;
        margin-right: 10px;
    }
    .postagem-insta #post1{
        width: 100vh;
        margin-bottom: 15px;
    }
    .icones-insta{
        padding: 4px;
        width: 80px;
        display: flex;
        justify-content: space-between;
    }
    .icones-insta img{
        width: 30px
    }
    .comentarios{
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        
    }
    
    .pai{
        width: 10vw;
        height: 20vh;
        border-radius: 200px;
    }


    
         @media (max-width: 1162px){
          
           h1{
            align-items: center;
            width: 30px;
            height: 30px;
           }

           p{
            align-items: center;
              
           }

        }

        @media (max-width: 880px){

            .user-insta{
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .dados-insta .user-insta input{
                
                flex-direction: column;
               
            }
            div {
                
                flex-wrap: wrap;
            }


            button{
                margin-right: 10px;
                width: 10px;
            }
        }

        @media (max-width: 50px){


            .Container-instagram{
                width: 200vw;
                text-align: center;
                height: 300vh;
           }
            

        }

}




